.friend {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    width: 120px;
    padding: 10px;
    border: 2px solid #000000;
    border-radius: 10px;
    background-color: #ffffff;
    overflow: hidden;
}

.avatar {
    width: 80px;
    margin-bottom: 10px;
}

.name {
    font-size: 26px;
    color: #000000;
}

.status {
    font-size: 20px;
}

.online {
    color: #1cc11c;
}

.offline {
    color: #ff0000;
}