.table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    margin: 20px auto;
}

th,
td {
    border: 1px solid #000000;
    width: calc(100% / 3);
    padding: 5px;
}

.tableHeader {
    background-color: #333333;
    color: #ffffff;
}

.tableRow {
    color: #212121;
}

.tableRow:nth-child(odd) {
    background-color: #ffffff;
}

.tableRow:nth-child(even) {
    background-color: #cccccc;
}

.transactionType {
    text-transform: capitalize;
    text-align: left;
    padding-left: 40px;
}

@media only screen and (min-width: 450px) {
    .table {
        width: 450px;
    }
}